extends ../layout

block content
  .container
    h1.text-center Criar Conta
    div
      form(class="form-signup", action="/signup", method="POST")
        input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
        input(type='password', name='password', class='form-control', placeholder='Password', required)
        input(type='email', name='email', class='form-control', placeholder='Email', required)
        button(class='btn btn-lg btn-primary btn-block', type='submit') Register
        span.clearfix
        a(href="/", class="text-center") Entrar
        #message
          if message
            h1.text.center #{message}